<h1>Show one School Class</h1>
<label>Class Title:</label>
<%= @school_class.title %> <br>
<label>Room Number:</label>
<%= @school_class.room_number %> <br>

<%= link_to "See All Classes", school_classes_path %>